aiohttp==3.11.10
aiohttp==3.11.13
anyio==4.8.0
click==8.1.8
faiss_cpu==1.10.0
fastapi==0.115.11
httpx==0.28.1
loguru==0.7.3
nanoid==2.0.0
numpy==2.2.4
pgvector==0.3.6
psycopg2==2.9.9
psycopg2_binary==2.9.10
pydantic==2.10.6
pytest==8.3.4
python-dotenv==1.0.1
PyYAML==6.0.2
PyYAML==6.0.2
rich==13.9.4
setuptools==75.7.0
setuptools==75.8.0
SQLAlchemy==2.0.38
SQLAlchemy==2.0.17
uvicorn==0.34.0
websockets==11.0.3
websockets==15.0
